* { margin: 0; padding: 0; box-sizing: border-box; }
ul { list-style: none; padding: 0; margin: 0; }
a { text-decoration: none; color: inherit; }
input,input:hover, textarea,textarea:hover, button,button:hover { outline: none; border: none; box-shadow: none; }
